@font-face {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  height: 320px;
  width: 230px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: solid grey 1px;
  box-shadow: 15px 15px 40px #8c8c8c;
}

.calculator-output {
  background-color: #999999;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 80px;
  padding: 10px;
  color: white;
  font-size: 200%;
  font-weight: lighter;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

}

.calculator-row {
  display: flex;
  height: 48px;
}

.calculator-button-section {
  height: 240px;
}

.calculator-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-left: solid grey .5px;
  border-top: solid grey .5px;
  width: 57.5px;
  transition: background-color 100ms ease;
}

.calculator-button:hover {
  background-color: #bfbfbf;
}

.calculator-button:active {
  background-color: #a6a6a6;
}

.calculator-operator-button {
  background-color: #ff8000;
  border-right: solid grey 1px;
  color: white;
}

.calculator-operator-button:hover {
  background-color: #cc6600;
}

.calculator-operator-button:active {
  background-color: #b35900;
}

.calculator-button-zero {
  border-bottom-left-radius: 10px;
  justify-content: flex-start;
  text-indent: 25px;
  width: 115px;
}

.calculator-button-equals {
  border-bottom-right-radius: 10px;
}
